@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/keyframes" as *;
@use "../../styles/partials/variables" as *;

.pharmacy-list {
  &__header {
    display: flex;
    gap: 12px;
    padding: 20px;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(218, 209, 209, 0.5)),
      url(../../assets/images/findmypharm-bg.png);
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-family: $secondary-font;
    color: whitesmoke;
    font-size: 22px;
    max-width: 100%;
    line-height: 1.4;
    word-break: break-word;
    white-space: normal;
    opacity: 0;

    // Slide-in animation
    animation: slide-in 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  &__items {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__card {
    text-decoration: none;
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: lightgray;

    &:hover {
      transform: scale(1.01);
      border-radius: 25px;
      box-shadow: 0rem 0.3125rem 0.5625rem -0.0625rem $background-primary;
    }
  }
}
.back-arrow {
  width: 35px;
}
.right-arrow {
  height: 35px;
}
