@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: $primary-font, Verdana, sans-serif;
}
